.cover {
  max-width: 1184px;
  padding: 92px 0 0 0;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    width: 768px;
    padding-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 320px;
    padding-top: 66px;
  }
}
